$main: rgb(224, 255, 228);
$sec: rgb(6, 1, 16);
//var(--selectedColor, $selectedColor)
:root{
    color-scheme: light dark;
}
body{
    background-color: light-dark($main,$sec);
    color: $sec;
    margin-top: 1em;
    transition: .2s;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.light{
    color-scheme: light;
}
.dark{
    color-scheme: dark;
}
canvas{
    background-color: light-dark($sec,$main);
    border-radius: 1em;
    border: .2em solid light-dark($sec,$main);
}
.center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.menu-button{
    aspect-ratio: 1/1;
    border-radius: .4em;
    border: .2em solid light-dark($sec,$main);
    color: light-dark($sec,$main);
    background-color: transparent;
    transition: .1s;
    overflow: hidden;
}
.menu-button:hover{
    background-color: #ffffff98;;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 0;
    transition: 0.5s;
    transition-property: width;
    overflow: hidden;
    gap: .5em;
    color: light-dark($sec,$main);
    overflow: auto;
    section{
        display: flex;
        flex-direction: column;     
        align-items: center;   
    }
    label{
        display: flex;
        flex-direction: column;     
        align-items:start;
        margin-bottom:.2em;
    }
}
.option{
    border: .2em solid light-dark($sec,$main);
    border-radius: 1em;
    min-height: 3em;
    width: 90%;
    margin: auto;
    overflow: hidden;
    h1{
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
    }
    input{
        border: .2em solid light-dark($sec,$main);
        background-color: transparent;
        color: light-dark($sec,$main);
    }
    hr{
        width: 120%;
        border: 1px solid rgb(148, 148, 148);
    }
}
.option-button{
    width: 100%;
    height: 4em;
    border: none;
    color: light-dark($sec,$main);
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bolder;
    transition: .1s;
}
.option-button:hover{
    background-color: #a7a6a683;
}
.color-scheme-switch{
    color: light-dark($sec,$main);
    border: .2em solid light-dark($sec,$main);
    background-color: light-dark($main,$sec);
    border-radius: .2em;
    transition: .1s;
}
.color-scheme-switch:hover{
    background-color: #a7a6a683;
}
.expand{
    margin: 0;
    overflow: hidden;
    transition: 0.4s;
    transition-property: height;
}